<mat-toolbar class="header mat-elevation-z8">

    <div class="logo">
        <span>
            <img src="assets/img/logo.png" alt="logo todo check">
        </span>
        <span>
            <h1>Minhas Tarefas</h1>
        </span>
    </div>

    <div class="social">
        <a target="blank" href="https://github.com/cassianodess"><img src="../../../assets/img/github.png"
                alt="link para meu github"></a>
        <a target="blank" href="https://www.linkedin.com/in/cassiano-de-souza-6a0742165/"><img
                src="../../../assets/img/linkedin.png" alt="link para meu linkedin"></a>
    </div>


</mat-toolbar>